{% extends 'base/master.html' %}
{% block content %}


<div class="card m-2">
    <div class="card-header">
      Persoonlijke analyse
    </div>
    <div class="card-body">
      Welkom bij jou persoonlijke analyse.
      We bewaren geen gegevens en alle bekeken historie is meteen weer verwijderd. 
    </div>
</div>

<div class="card m-2">
    <div class="card-header">
      Wordcloud
    </div>
    <div class="card-body">
        <p>Dit zijn de meest voorkomende termen op basis van de top 20 meest bezochte websites:</p>
        <img width="100%" src="data:image/png;base64,{{ wordcloud|safe }}">
    </div>
</div>

<div class="card m-2">
    <div class="card-header">
      Top 20
    </div>
    <div class="card-body">
        <p>Dit zijn de 20 meest bezochte websites:</p>
        <img width="100%" src="data:image/png;base64,{{ top20|safe }}">
    </div>
</div>

{% endblock %}